body {
    background-image: linear-gradient(to right, rgb(127 211 238), white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    font-size: large;
}

h3 {
    margin-left: 250px;
    margin-right: 250px;
}

img {
    width: 10em;
    height: 12em;
    border-radius: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin-top: -10px;
}
