{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "{% static 'styles.css'%}">
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome to BCCAbook!</h1>
        <form  action="{% url 'hpnew' %}" method=GET >
            <label>
                <p>Name:</p>
                <input type="text" name="name"></input>
            </label>

            <button>Search</button>
        </form>
        <main>
        <p> {{new_name}} </p>
        <p> {{bio}}</p>
        <p> {{genre}} </p>
        <p> {{dream}} </p>
        <p> {{job}} </p>
        <p> {{hometown}} </p>
        </main>
    </body>
</html
