{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles.css'%}">
  </head>
  <body>
    <nav>
      <form action="{% url 'pf'%}" method="GET">
      <h1 class="title">BCCA PROFILE FINDER</p>
  
      <label>
        <p>Search Name:</p>
        <input type="text" name="name" />
      

        <button>SEARCH</button>
      </form>
    </nav>
    {% if name == "Jacen Barefoot" %}
    
      <h1> {{name}} </h1>
    <nav>
      <h2>Bio: </h2>
      <p>I like to play Pokemon GO! Ayo</p>
      <h2>Location:</h2>
      <p>Pontotoc City, MS</p>
      <h2>Dream:</h2>
      <p>TO win a shiny Pokemon</p>
      <h2>Job:</h2>
      <p>HomeTown Pizza<p>
    </nav>

    {% elif name == "Ethan Ward" or name == "Ethan"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2>Bio: </h2>
      <p>I'm 18 years old. I'm Taken. Favorite Color is Purple</p>
      <h2> Music: </h2>
      <p>Grunge</p>
      <h2>Location: </h2>
      <p> Bruce, MS</p>
      <h2>Dream: </h2>
      <p>To land a job in Cspire and grow my music</p>
      <h2>Job: </h2>
      <p>Dishwasher at Corner Store</p> 
    </div>

    {% elif name == "Quinton Summerford"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2> Bio:</h2>
      <p> Blue Pill or Red Pill?

      Blue: Blueberry flavor

      Red: Infinite Money</p>
      <h2> Location:</h2>
      <p>White Plains, NY</p>
      <h2> Music</h2>
      <p> Nightcore</p>
      <h2> Dream:</h2>
      <p>To defeat the sussy little dragon of Cthulhu</p>
      <h2>Job: </h2>
      <p>Discord Admin</p>
    </div>

    {% elif name == "Dylan Goad"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2> Bio:</h2>
      <p> I like turtles </p>
      <h2>Music: </h2>
      <p> Minecraft Parodies</p>
      <h2> Location:</h2>
      <p> Charleston, Mississippi</p>
      <h2> Dream:</h2>
      <p> Work for NASA </p>
      <h2> Job:</h2>
      <p> Unemployed<p>
    </div>


    {% elif name == "Dylan Shifton" or name == "Asian Markiplier"%}

    <h1> {{name}} </h1>
    <div>
      <h2> Bio: </h2>
      <p> Am Wasian. Am Weeb. Am Saucy Housewife.</p>
      <h2>Dream:</h2>
      <p>To become best Wasian.</p>
      <h2> Music:</h2>
      <p> Everything except for rap.</p>
      <h2>Born Location:</h2>
      <p> Hidden Leaf Village</p>
      <h2>Location:</h2>
      <p> The Crib</p>
      <h2> Job:</h2>
      <p> Pizza Boi <p>
    </div>


    

    {% elif name == "Mariann Mccord" or name == "Mariann"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2> Bio:</h2>
      <p>I am 18 years old and I enjoy listening to music in my free time along with reading, watching TV, and sleeping. </p>
      <h2>Dream: </h2>
      <p> I hope to be a Software engineer with at least a Master's degree in the future and possibly try my in music production. I also want to travel the world in the meantime.</p>
      <h2>Music: </h2>
      <p> R&B/ Lofi HipHop</p>
      <h2> Born Location:</h2>
      <p> I am from the small town of Charleston, Mississippi.</p>
      <h2> Location: </h2>
      <p> Oxford</p>
      <h2> Job:</h2>
      <p> I currently work at the Newk's on University Ave in Oxford,MS. <p>
    </div>



    {% elif name == "Will Collins"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2>Bio: </h2>
      <p> I eat chocolate</p>
      <h2> Location:</h2>
      <p>Bruce, MS</p>
      <h2>Dream: </h2>
      <p>10 kids</p>
      <h2>Job: </h2>
      <p>Dadd's money<p>
    </div>


    {% elif name == "Logan Coley"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2> Bio:</h2>
      <p> I like to play Pokemon GO!</p>
      <h2> Location:</h2>
      <p>South Pontotoc</p>
      <h2> Dream:</h2>
      <p> To own a game development company</p>
      <h2> Job:</h2>
      <p> Mommy's store<p>
    </div>

    {% elif name == "Logan Wilkans"%}
    <h1> {{name}} </h1>
    {% load static %} <img src="{% static "Unit_Project/images/loganw.jpg" %}" alt="home" />
    <div>
     
      <h2> Bio:</h2>
      <p> I love video games and play a large variety of them my favorites being soul calibur, halo, for honor, skyrim and fallout 4. I enjoy various forms of art as any for of expressing creativity brings me joy, I like to draw, create ships in space engineers, build models in blender, paint, write, make characters in video games, build maps in halo, etc. I also love to spar, as in sword fighting or other weapons fighting and i have practiced many martial arts to improve my sword fighting capability. Some of the martial arts i have studied involve </p>
      <h2> Dream:</h2>
      <p>All my life i've wanted a role in creating video game, and it aligns with many of my favorite things to do, how ever I have to one day open a HEMA academy to teach sword play and martial arts</p>
      <h2> Favorite Music:</h2>
      <p>Alternative rock is my top favorite, then there's instrumental, and dubstep... I also like christian rock</p>
      <h2> Location:</h2>
      <p> Memphis</p>
      <h2>Job: </h2>
      <p>  I currently work at Larsons Cashsaver Water Valley MS<p>
      </div>


    {% elif name == "Isaac Jones"%}
    <h1> {{name}} </h1>
    <img src="images/isaac.png">
    <div>
      
      <h2>Bio: </h2>
      <p> I like to make things. I have a lot of creative hobbies. Drawing, Jewelry making, sewing, and playing instruments.</p>
      <h2> Dream:</h2>
      <p> I want to be pursue a career in art</p>
      <h2>Music:</h2>
      <p> Rock, Electronic</p>
      <h2>Born Location: </h2>
      <p> Oxford </p>
      <h2>Location: </h2>
      <p> Oxford </p>
      <h2>Job:</h2>
      <p>Server at Newk's Eatery <p>
    </div>

    {% elif name == "Ryan Bennett"%}
    <h1> {{name}} </h1>
    <div>
      
      <h2>Bio: </h2>
      <p> I'm a boring guy who plays video games.</p>
      <h2> Music:</h2>
      <p>Classic Country</p>
      <h2>Dream: </h2>
      <p> Become a video game developer</p>
      <h2> Born Location:</h2>
      <p>Saltillo, Mississippi</p>
      <h2> Location:</h2>
      <p> Saltillo, Mississippi</p>
      <h2>Job: </h2>
      <p> Server/Delivery Driver<p>
    </div>
    
    {% elif name == "Randy Trullet"%}
   
    <h1> {{name}}</h1>
    <div>
      <h2>Bio: </h2>
      <p>"Oh my days"
          British Wannabe
          Future Application Developer</p>
      <h2>Music: </h2>
      <p> Melbourne Bounce and Folk</p>
      <h2>Dream:</h2>
      <p> I want a house and a dog, that's about it. Also want a computer, that's a priority</p>
      <h2>Location: </h2>
      <p> Corinth, MS</p>
      <h2> Job:</h2>
      <p> Student <p>
    </div>


    {% elif name == "Justin Ashmore"%}
    
    <h1> {{name}} </h1>
    <div>
      <h2>Bio: </h2>
      <p> I like to snack on chips, watch cop shows, and play video games</p>
      <h2>Dream: </h2>
      <p> Have a big family and have good amount of money</p>
      <h2>Born Location: </h2>
      <p>  Florida</p>
      <h2> Location:</h2>
      <p> Bruce, MS</p>
      <h2>Job: </h2>
      <p> Sosa Law Care<p>
    </div>


    {% elif name == "RJay Pickering"%}
    <h1> {{name}}</h1>
    <div>
      <h2> Bio: </h2>
      <p> I like to play video games and fix broken vehicles.  i use to go to the gym alot and i love working around a farm</p>
      <h2> Dream:</h2>
      <p> videogame designer </p>
      <h2> Music:</h2>
      <p> heavy rock</p>
      <h2> Location:</h2>
      <p> Pontotoc, MS</p>
      <h2> Job:</h2>
      <p> student/farmer <p>
    </div>
    {% elif name == "Daelan Hollingsworth" or name == "Daelan"%}
    <h1> {{name}}</h1>
    <div>
      <h2>Bio: </h2>
      <p> I have always liked to play video games and I was in band.</p>
      <h2>Dream: </h2>
      <p> None</p>
      <h2> Music:</h2>
      <p>Any music will do. </p>
      <h2> Location:</h2>
      <p> Pontotoc, MS </p>
      <h2> Job:</h2>
      <p> I deliver at Domino's. <p>
    </div>


    {% elif name == "Rylee Chisholm"%}
    <h1> {{name}}</h1>
    <div>
      <h2>Bio: </h2>
      <p>5'5 and clingy, but thats okay.</p>
      <h2>Dream: </h2>
      <p> To be 6ft tall.  I did dream once about this really weird fun house with a serial killer dressed as a neon pumpkin. </p>
      <h2>Music: </h2>
      <p>  Pop and anything that sounds terrible.</p>
      <h2>Born Location: </h2>
      <p> Mom</p>
      <h2>Job: </h2>
      <p> Hometown Pizza delivery driver and cook<p>
    </div>
     
     
     {% elif name == "Michelle Rankin"%}
     <h1> {{name}} </h1>
     <div>
        <h2>Bio: </h2>
        <p> Lazy, Uncoordinated , Unprofessional, Hard Working </p>
        <h2>Dream: </h2>
        <p> Make the Mula </p>
        <h2>Music: </h2>
        <p> Post Hardcore</p>
        <h2>Born Location: </h2>
        <p> Louisiana</p>
        <h2>Location: </h2>
        <p>Oxford</p>
        <h2> Job:</h2>
        <p> Server at HomeTown Pizza <p>
     </div>

    {% else %}
    <p> Person does not attend BCCA or Does not currently have a profile</p>

    
    {% endif %}

  </body>
</html>